{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carrousel list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carrousel in carrousels %}
            <tr>
                <td><a href="{{ path('carrousel_show', { 'id': carrousel.id }) }}">{{ carrousel.id }}</a></td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('carrousel_show', { 'id': carrousel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('carrousel_edit', { 'id': carrousel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carrousel_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
