
{% extends '@CzAdmin/Layout/login/layout.html.twig' %}



{% block body %}

    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">
            <div class="content-wrapper">
                <div class="content">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="alert alert-warning">
                            <strong>{{ 'form.warning' | trans }}: </strong>
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-warning alert__action">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </div>
                    {% endif %}

                    {% for key, messages in app.session.flashbag.all() %}
                        <div class="alert alert-{{ key }} {{ key }}">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="fa fa-times"></i>
                            </button>
                            {% for message in messages %}
                                {{ message|trans({}, 'FOSUserBundle') }}
                            {% endfor %}
                        </div>
                    {% endfor %}

                    {% block fos_user_content %}{% endblock fos_user_content %}

                    {% block admin_link %}
                        {% if 'profile' in app.request.pathInfo and 'change-password' not in app.request.pathInfo %}
                            <a href="{{ path('CzAdminBundle_homepage') }}" class="btn btn-brand btn-block btn--raise-on-hover">
                                OK
                            </a>
                        {% endif %}
                    {% endblock %}


                </div>


                {% block footer %}{% endblock %}

            </div>
        </div>
    </div>
{% endblock %}
