{% extends '@CzI18/Frontend/Layout/layout.html.twig' %}

{% block content %}
    <h1>Pages</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if page.deletedAt %}{{ page.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ page.slug }}</td>
            </tr>
            <tr>
                <th>Seo</th>
                <td>{{ page.seo }}</td>
            </tr>
            <tr>
                <th>Entetetitle</th>
                <td>{{ page.entetetitle }}</td>
            </tr>
            <tr>
                <th>Entetedescriptif</th>
                <td>{{ page.entetedescriptif }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if page.created %}{{ page.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if page.updated %}{{ page.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titlechanged</th>
                <td>{% if page.titleChanged %}{{ page.titleChanged|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pages_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pages_edit', { 'id': page.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
