<div class="row" >
    <div class="col-lg-4 col-md-4">
        <div class="col-md-12">{{ form_errors(form) }}</div>
        <div class="bg-danger">{{ form_errors(form.title) }}</div>
        <div class="form-group input-group">
            {{ form_widget(form.title,  {'attr': {'placeholder':'Title', 'title':'Title', 'class':'form-control'}}) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-danger">{{ form_errors(form.slug) }}</div>
        <div class="form-group">
            {{ form_widget(form.slug,  {'attr': {'title':'Slug', 'class':'form-control', 'placeholder':'Slug'}}) }}
        </div>
    </div>
</div>