{% extends 'base.html.twig' %}

{% block body %}
    <h1>ChambreDetails</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ chambreDetail.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ chambreDetail.slug }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ chambreDetail.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chambredetails_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chambredetails_edit', { 'id': chambreDetail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
